<!-- Add custom HTML to append on homepage top. -->
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <a href="https://www.mundoquadri.com.br/guincho-eletrico/">
              <img src="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/guinchos.jpg"alt="Guinchos Elétricos" title="Guinchos Elétricos">
            </a>
         </div>
        <div class="col-md-4 col-sm-12">
            <a href="https://www.mundoquadri.com.br/galao/">
              <img src="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/galao.jpg" data-original="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/galao.jpg" alt="Galão de Gasolina" title="Galão de Gasolina" >
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="https://www.mundoquadri.com.br/barra-de-led/">
              <img src="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/barra-led.jpg" alt="Barra de Led" title="Barra de Led">
            </a>
        </div>
      </div>
